<section id="contact" class="contact">
  <h2>Contact Me</h2>

  <p>
    I am open to opportunities, collaborations, and exciting software projects.
    Let's connect!
  </p>

  <div class="contact-container">

    <div class="contact-card">
      <h3>Email</h3>
      <p>xolelwacekiso@gmail.com</p>
    </div>

    <div class="contact-card">
      <h3>LinkedIn</h3>
      <a href="https://www.linkedin.com/in/xolelwa-cekiso-abab7b2bb" target="_blank">
        My LinkedIn Profile
      </a>
    </div>

    <div class="contact-card">
      <h3>GitHub</h3>
      <a href="https://github.com/lelwa100" target="_blank">
        My GitHub Profile
      </a>
    </div>

  </div>
</section>