<section id="home" class="hero">

  <div class="hero-content">

    <p class="intro">HELLO, I'M</p>

    <h1>Xolelwa Cekiso</h1>

    <h2>Junior Full Stack Developer</h2>

    <p class="hero-description">
      I build modern, responsive, and user-friendly web applications using
      Angular, Java, Spring Boot, React, Node.js, and PostgreSQL.
      I enjoy learning new technologies and creating solutions that make a difference.
    </p>

    <div class="hero-buttons">

      <a href="/projects" class="btn btn-primary">
        View Projects
      </a>

      <a href="/Xolelwa-Cekiso-CV.pdf"
   download="Xolelwa-Cekiso-CV.pdf"
   class="btn btn-outline">
  Download CV
</a>

    </div>

    <div class="social-icons">

      <a href="https://github.com/lelwa100" target="_blank">
        GitHub
      </a>

      <a href="https://www.linkedin.com/in/xolelwa-cekiso-abab7b2bb/" target="_blank">
        LinkedIn
      </a>

      <a href="mailto:xolelwacekiso@gmail.com">
        Email
      </a>

    </div>

  </div>

  <div class="hero-image">

    <div class="image-circle"></div>

    <img src="/xolelwa.jpeg" alt="Xolelwa Cekiso">

  </div>

</section>