<section id="skills" class="skills">

    <p class="section-title">MY SKILLS & EXPERIENCE</p>

    <h2>Skills & Professional Experience</h2>

    <p class="section-description">
        I have gained technical knowledge through my software development internship
        while building strong communication, teamwork, and problem-solving skills
        through previous professional roles.
    </p>

    <!-- ================= SKILLS ================= -->

    <div class="skills-container">

        <div class="skill-card">
            <h3>Frontend</h3>

            <span>HTML5</span>
            <span>CSS3</span>
            <span>JavaScript</span>
            <span>TypeScript</span>
            <span>Angular</span>
            <span>React</span>
        </div>

        <div class="skill-card">
            <h3>Backend</h3>

            <span>Java</span>
            <span>Spring Boot</span>
            <span>Node.js</span>
            <span>Express.js</span>
        </div>

        <div class="skill-card">
            <h3>Database & Tools</h3>

            <span>PostgreSQL</span>
            <span>Git</span>
            <span>GitHub</span>
            <span>VS Code</span>
            <span>Figma</span>
        </div>

    </div>
</section>